<h2>
  Let me
  <br/>
  <div class="logo"></div>
  <br/>
  that for you
</h2>

<div class="google-screen">
  <form>
    <input #inputBox type="text" value="" disabled>

    <div class="button-wrapper">
      <input type="button" value="Google Search" [ngClass]="{'active' : buttonClicked }" disabled>
      <input type="button" value="I'm Feeling Lucky" disabled>
    </div>
  </form>
</div>



<div class="fakemouse" (@moveToInput.done)="onMoveDone($event)" [@moveToInput]="state" [@moveToButton]="state2"(@moveToButton.done)="onMoveDone2($event)">
  <i class="fa fa-mouse-pointer fa-fw fa-2x"></i>
</div>

<div class="steps-wrapper">
  <div [@stepSlideIn] class="step" *ngFor="let step of steps; let i = index" >
    <strong>Step {{i+1}}</strong>
    <br/>
    {{step}}
  </div>
</div>
